<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>{{ site.title }}</h3>
        <p>{{ site.description }}</p>
      </div>
      
      <div class="footer-section">
        <h4>{{ site.data.en.footer.categories }}</h4>
        <ul>
          <li><a href="{{ site.baseurl }}/en/categories/data-engineering/">{{ site.data.en.categories.data_engineering }}</a></li>
          <li><a href="{{ site.baseurl }}/en/categories/bi-engineering/">{{ site.data.en.categories.bi_engineering }}</a></li>
          <li><a href="{{ site.baseurl }}/en/categories/system-architecture/">{{ site.data.en.categories.system_architecture }}</a></li>
          <li><a href="{{ site.baseurl }}/en/categories/data-quality/">{{ site.data.en.categories.data_quality }}</a></li>
          <li><a href="{{ site.baseurl }}/en/categories/dev-tools/">{{ site.data.en.categories.dev_tools }}</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h4>{{ site.data.en.footer.links }}</h4>
        <ul>
          <li><a href="{{ site.baseurl }}/en/">{{ site.data.en.nav.home }}</a></li>
          <li><a href="{{ site.baseurl }}/en/blog/">{{ site.data.en.nav.blog }}</a></li>
          <li><a href="{{ site.baseurl }}/en/about/">{{ site.data.en.nav.about }}</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h4>{{ site.data.en.footer.social }}</h4>
        <ul>
          {% if site.github_username %}
          <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
          {% endif %}
          <li><a href="https://www.linkedin.com/in/jaekyung-lee-a61ab2193/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. {{ site.data.en.footer.rights }}</p>
    </div>
  </div>
</footer>
